<br><br><br>
<div class="container mt-5" >

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align="center" *ngIf="isCustomer" class="text-primary font-weight-bold" style="font-family: 'Times New Roman'">Register As a Customer</h1>
      <h1 align="center" *ngIf="!isCustomer" class="text-primary font-weight-bold" style="font-family: 'Times New Roman'">Register As a Shopkeeper</h1>
      <div class="card z-depth-5 mt-4">
        <button *ngIf="isCustomer" type="button" (click)="choiceRole('shopkeeper')" mdbBtn color="success" mdbWavesEffect>Click Sing up As a Shopkeeper</button>
        <button *ngIf="!isCustomer" type="button" (click)="choiceRole('customer')" mdbBtn color="success" mdbWavesEffect>Click Sing up As a Customer</button>

        <!--Card content-->
        <div class="card-body px-lg-5">

          <form #regForm="ngForm" *ngIf="isCustomer" class="text-center" style="color: #757575;" [appMatchPassword]="['password', 'con_password']"
                (ngSubmit)="regForm.form.valid &&  register(image, regForm, regForm.value, 'customer')" novalidate>

            <div class="md-form form-sm mt-3">

              <input mdbInput mdbValidate type="text" id="form1" class="form-control form-control-sm"
                     #name="ngModel" name="name" required ngModel>
              <label for="form1" class="">Name</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(name.touched || regForm.submitted) && name.errors?.required">
                                Name is required
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">

              <input mdbInput mdbValidate type="email" id="form2" class="form-control form-control-sm"
                     #email="ngModel" required email name="email" ngModel>
              <label for="form2" class="">Email</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(email.touched || regForm.submitted) && email.errors?.required">
                                Email is required
                            </span>
                <span class="text-danger" *ngIf="email.touched && email.errors?.email">
                                Enter a valid email address
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="text" id="form3" class="form-control form-control-sm" name="address"
                     #address="ngModel" mdbValidate required ngModel>
              <label for="form3" class="">Address</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(address.touched || regForm.submitted) && address.errors?.required">
                                Address is required
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="date" id="form8" class="form-control form-control-sm"
                     #dob="ngModel" mdbValidate required   name="dob" ngModel>
              <label for="form8" class="">Date of Birth</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(dob.touched || regForm.submitted) && dob.errors?.required">
                                DoB is required
                            </span>
              </mdb-error>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" value="male" class="custom-control-input" id="defaultInline1"
                     #gender="ngModel" mdbValidate required name="gender" ngModel  mdbInput>
              <label class="custom-control-label" for="defaultInline1">Male</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(gender.touched || regForm.submitted) && gender.errors?.required">
                               Required!
                            </span>
              </mdb-error>
            </div>


            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" value="female" class="custom-control-input" id="defaultInline2" name="gender" ngModel  mdbInput>
              <label class="custom-control-label" for="defaultInline2">Female</label>
            </div>

            <div class="md-form form-sm mt-5 ">
              <input #image="ngModel" mdbInput type="file" id="form5" class="form-control form-control-sm" (change)="onFileSeletected($event)" name="image_name" ngModel>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(image.touched || regForm.submitted) && !fileName">
                                At least one file must be choice!
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput mdbValidate type="password" id="form6" class="form-control form-control-sm"
                     #password="ngModel" appPasswordPattern2 required name="password" ngModel>
              <label for="form6" class="">Password</label>
              <mdb-error>
              <span class="text-danger"
                    *ngIf="(password.touched || regForm.submitted) && password.errors?.required">
                                Password is required
                            </span>
              <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput mdbValidate type="password" id="form7" class="form-control form-control-sm"
                     #con_password="ngModel"  required name="con_password"  ngModel>
              <label for="form7" class="">Confirmation Password</label>
              <mdb-error>
                 <span class="text-danger"
                       *ngIf="(con_password.touched || regForm.submitted) && con_password.errors?.required">
                                Confirm Password is required
                            </span>
                <span class="text-danger"
                      *ngIf="con_password.touched && con_password.errors?.passwordMismatch">
                                Passwords doesnot match
                            </span>
              </mdb-error>
            </div>

            <button type="reset" class="float-left" mdbBtn color="warning" mdbWavesEffect>Reset</button>
            <button *ngIf="agreeCustomer"  type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Sing up</button>
            <button type="button" class="float-right" mdbBtn color="primary" (click)="basicModal.show()" mdbWavesEffect>Agree Term & Condition</button>

            <div mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel" style="color: black">Terms & Conditions for Customer</h4>
                  </div>
                  <div class="modal-body">
                    <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Welcome to our online store! Hub-Tec provide the services to clients to the following
                      conditions. If you visit the website, you accept these conditions. Please read them
                      carefully.
                    </p>
                    <p align="justify" style="color: black; size: 18px"><strong>COPYRIGHT</strong></p>
                    <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      All content included on this site, such as text, graphics, logos, button icons, images,
                      audio clips, digital downloads, data compilations and software, is the property of
                      Hub-Tec or its content suppliers and protected by international copyright laws. The
                      compilation of all content on this site is the exclusive property of Hub-Tec, with
                      copyright authorship for this collection by Hub-Tec, and protected by international
                      copyright laws.
                    </p>

                    <p align="justify" style="color: black; size: 18px"><strong>YOUR ACCOUNT</strong></p>
                    <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      You may need your own Hub-Tec account to use certain services from hub-tech, and you may be
                      required to be logged in to the account and have a valid payment method associated
                      with it. If there is a problem charging your selected payment method, we may charge
                      any other valid payment method associated with your account. You are responsible for
                      maintaining the confidentiality of your account and password and for restricting access
                      to your account, and you agree to accept responsibility for all activities that occur
                      under your account or password. Hub-Tec reserves the right to refuse service, terminate
                      accounts, terminate your rights to use services from hub-tech, remove or edit content, or
                      cancel orders in its sole discretion.
                    </p>

                    <p align="justify" style="color: black; size: 18px"><strong>RISK of LOSS</strong></p>
                    <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      All items purchased from Hub-Tec are made pursuant to a shipment contract. This basically
                      means that the risk of loss and title for such items pass to you upon our delivery to
                      the carrier.
                    </p>

                    <p align="justify" style="color: black; size: 18px"><strong>PRODUCT DESCRIPTIONS</strong></p>
                    <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Hub-Tec attempts to be as accurate as possible. However, Hub-Tec does not guarantee that
                      product descriptions or other content of any Hub-Tec Service is accurate, complete,
                      reliable, current, or error-free. If a product offered by Hub-Tec itself is not as
                      described, your sole remedy is to return it in unused condition.
                    </p>

                    <p align="justify" style="color: black; size: 18px"><strong>APPLICABLE LAW</strong></p>
                    <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      By using Hub-Tec web-app, you agree that the Federal Arbitration Act, applicable federal law,
                      and the laws of the region of Yangon, without regard to principles of conflict of
                      laws, will govern these Conditions of Use and any dispute of any sort that might arise
                      between you and Hub-Tec.

                    </p>

                    <mdb-checkbox [default]="true" (change)="isAgreeCustomer($event)">Agree</mdb-checkbox>
                  </div>
                  <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
            </div>


          </form>
          <!-- Form -->


          <form #regForm="ngForm" *ngIf="!isCustomer" class="text-center" style="color: #757575;"
                [appMatchPassword]="['password', 'con_password']" (ngSubmit)="register(image, regForm, regForm.value, 'shopkeeper')">

            <div class="md-form form-sm mt-3">
              <input mdbInput type="email" id="form10" class="form-control form-control-sm" name="name"
                     #name="ngModel" required mdbValidate ngModel>
              <label for="form10" class="">Name</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(name.touched || regForm.submitted) && name.errors?.required">
                                Name is required
                            </span>
              </mdb-error>
            </div>


            <!-- E-mai -->
            <div class="md-form form-sm mt-3">

              <input mdbInput type="email" id="form11" class="form-control form-control-sm" name="email"
                     #email="ngModel" required mdbValidate ngModel>
              <label for="form11" class="">Email</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(email.touched || regForm.submitted) && email.errors?.required">
                                Email is required
                            </span>
                <span class="text-danger" *ngIf="email.touched && email.errors?.email">
                                Enter a valid email address
                            </span>
              </mdb-error>
            </div>

            <!-- E-mai -->
            <div class="md-form form-sm mt-3">
              <input mdbInput type="text" id="form12" class="form-control form-control-sm" name="address"
                     #Saddress="ngModel"  required mdbValidate ngModel>
              <label for="form12" class="">Shop Address</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(Saddress.touched || regForm.submitted) && Saddress.errors?.required">
                                Shop Address is required
                            </span>
              </mdb-error>
            </div>


            <!-- E-mai -->
            <div class="md-form form-sm ">
              <input mdbInput #image="ngModel" type="file" id="form13" class="form-control form-control-sm" (change)="onFileSeletected($event)" name="image_name" ngModel>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(image.touched || regForm.submitted) && !fileName">
                                At least one file must be choice!
                            </span>
              </mdb-error>
            </div>
            <div class="md-form form-sm mt-3">
              <input mdbInput type="text" id="form16" class="form-control form-control-sm" name="shop_name"
                     #Sname="ngModel" required mdbValidate ngModel>
              <label for="form16" class="">Shop Name</label>
              <mdb-error>
   <span class="text-danger"
         *ngIf="(Sname.touched || regForm.submitted) && Sname.errors?.required">
                                Shop Name is required
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput mdbValidate type="password" id="form14" class="form-control form-control-sm"
                     #password="ngModel" appPasswordPattern2 required name="password" ngModel>
              <label for="form14" class="">Password</label>
              <mdb-error>
              <span class="text-danger"
                    *ngIf="(password.touched || regForm.submitted) && password.errors?.required">
                                Password is required
                            </span>
                <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput mdbValidate type="password" id="form15" class="form-control form-control-sm"
                     #con_password="ngModel"  required name="con_password" ngModel>
              <label for="form15" class="">Confirmation Password</label>
              <mdb-error>
                 <span class="text-danger"
                       *ngIf="(con_password.touched || regForm.submitted) && con_password.errors?.required">
                                Confirm Password is required
                            </span>
                <span class="text-danger"
                      *ngIf="con_password.touched && con_password.errors?.passwordMismatch">
                                Passwords doesnot match
                            </span>
              </mdb-error>
            </div>



            <button type="reset" class="float-left" mdbBtn color="warning" mdbWavesEffect>Reset</button>
            <button *ngIf="agree && !error"   type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Sing up</button>
            <button type="button" class="float-right" mdbBtn color="primary" (click)="basicModal.show()" mdbWavesEffect>Agree Term & Condition</button>



          </form>


        </div>

      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br><br><br><br>

<div mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Terms & Conditions for ShopKeeper</h4>
      </div>
      <div class="modal-body">
        <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Welcome to our online store! Hub-Tec provide the services to clients to the following
          conditions. If you visit the website, you accept these conditions. Please read them
          carefully.
        </p>
        <p align="justify" style="color: black; size: 18px"><strong>COPYRIGHT</strong></p>
        <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          All content included on this site, such as text, graphics, logos, button icons, images,
          audio clips, digital downloads, data compilations and software, is the property of
          Hub-Tec or its content suppliers and protected by international copyright laws. The
          compilation of all content on this site is the exclusive property of Hub-Tec, with
          copyright authorship for this collection by Hub-Tec, and protected by international
          copyright laws.
        </p>

        <p align="justify" style="color: black; size: 18px"><strong>YOUR ACCOUNT</strong></p>
        <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          You may need your own Hub-Tec account to use certain services from hub-tech, and you may be
          required to be logged in to the account and have a valid payment method associated
          with it. If there is a problem charging your selected payment method, we may charge
          any other valid payment method associated with your account. You are responsible for
          maintaining the confidentiality of your account and password and for restricting access
          to your account, and you agree to accept responsibility for all activities that occur
          under your account or password. Hub-Tec reserves the right to refuse service, terminate
          accounts, terminate your rights to use services from hub-tech, remove or edit content, or
          cancel orders in its sole discretion.
        </p>

        <p align="justify" style="color: black; size: 18px"><strong>OTHER BUSINESS</strong></p>
        <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Parties other than Hub-Tec operate stores, sell products through the Amazon Services.
          In addition, we provide links to the sites of affiliated companies and certain other
          businesses. If you purchase any of the products or services offered by these businesses
          or individuals, you are purchasing directly from those third parties.
          We are not responsible for examining or evaluating, and we do not warrant, the offerings
          of any of these businesses or individuals (including the content of their Web sites).
          Hub-Tec does not assume any responsibility or liability for the actions, product, and
          content of all these and any other third parties. You should carefully review their
          privacy statements and other conditions of use.
        </p>

        <p align="justify" style="color: black; size: 18px"><strong>APPLICABLE LAW</strong></p>
        <p align="justify" style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          By using Hub-Tec web-app, you agree that the Federal Arbitration Act, applicable federal law,
          and the laws of the region of Yangon, without regard to principles of conflict of
          laws, will govern these Conditions of Use and any dispute of any sort that might arise
          between you and Hub-Tec.
        </p>
        <p align="justify" style="color: black; size: 18px"><strong>Need to Fill Payment Information</strong></p>
        <div class="row">
          <div id="card-info" #cardInfo class="col-md-12"></div>
          <mdb-error *ngIf="error" style="margin-top:960px">{{ error }}</mdb-error>
        </div>
        <br><br>
        <mdb-checkbox [default]="true" (change)="isAgree($event)">Agree</mdb-checkbox>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>

