<br><br><br>
<div class="container mt-5">
  <div class="card z-depth-5">
    <button type="button" mdbBtn color="primary" mdbWavesEffect>Update Product</button>
    <!--Card content-->
    <div class="card-body px-lg-5">

      <form #pForm="ngForm" *ngFor="let product of products$"  class="text-center" style="color: #757575;" (ngSubmit)="updateProduct(pForm, pForm.value)">

        <div class="md-form form-sm mt-3">
          <input mdbInput type="email" id="form1" class="form-control form-control-sm" name="name" ngModel="{{product.name}}">
          <label for="form1" class="">Enter Product Name</label>
          <mdb-error *ngIf="validationError.length > 0">
            <span *ngFor="let error of validationError">{{error.Name}}</span>
          </mdb-error>
        </div>

        <div class="md-form form-sm mt-3">
          <input mdbInput type="number" id="form2" class="form-control form-control-sm" name="price" ngModel="{{product.price}}">
          <label for="form2" class="">Enter Product Price</label>
          <mdb-error *ngIf="validationError.length > 0">
            <span *ngFor="let error of validationError">{{error.Price}}</span>
          </mdb-error>
        </div>

        <div class="md-form form-sm mt-3">
          <select class="browser-default custom-select" name="cat_id" (change)="onSelectMcat($event)" >
            <option  value="{{product.cat_id}}" selected >{{mCatName}}</option>
            <option *ngFor="let mcat of mcats$ | async"  value="{{mcat.id}}">{{mcat.name}}</option>
          </select>
        </div>
        <div class="md-form form-sm mt-3">
          <select class="browser-default custom-select" name="sub_cat_id" (click)="onSelectScat($event)">
            <option *ngIf="!isSelectMcat" value="{{product.sub_cat_id}}" selected>{{sCatName}}</option>
            <option *ngFor="let scat of scats$ | async" value="{{scat.id}}" >{{scat.name}}</option>
          </select>
        </div>
        <input type="hidden" value="{{getID()}}" name="supplier_id" ngModel>
        <div class="md-form form-sm ">
          <input hidden type="text" name="old_pict" ngModel="{{product.image_name}}">
          <input mdbInput type="file" id="form5" [ngClass]="isSelectFile? 'text-primary':'text-white'"  class="form-control form-control-sm" multiple
                 (change)="onFileSeletected($event)" name="image_name" ngModel>
          <mdb-error *ngIf="validationError.length > 0">
            <span *ngFor="let error of validationError">{{error.Image}}</span>
          </mdb-error>
        </div>

        <div class="md-form form-sm mt-3">
          <textarea type="text" id="form6" class="md-textarea md-textarea-auto form-control" mdbInput name="content" ngModel="{{product.content}}"></textarea>
          <label for="form6">Product Description</label>
          <mdb-error *ngIf="validationError.length > 0">
            <span *ngFor="let error of validationError">{{error.Description}}</span>
          </mdb-error>
        </div>

        <button type="reset" class="float-left" mdbBtn color="warning" mdbWavesEffect>Reset</button>
        <button type="submit" class="float-right" mdbBtn color="primary" mdbWavesEffect>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Update Product</button>

      </form>
      <!-- Form -->

    </div>

  </div>
</div>
