<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col col-example">
      <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../../assets/images/vivo1.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../../assets/images/mobile-img.png" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../../assets/images/202101221117vivo1.jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="col col-example"><h3>Products Detail</h3><br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!
    </p><br><br><br><br>
      <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>BUY</button>
    </div>
    <div class="w-100"></div>


  </div>
</div>
<br>
<br>
<br>
<br>
<br>





