<br><br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 align="center"  class="text-primary font-weight-bold" >Login As a Member</h2>
      <div class="card z-depth-5 mt-4">


        <!--Card content-->
        <div class="card-body px-lg-5">

          <form class="text-center" style="color: #757575;" >

            <div class="md-form form-sm mt-3">

              <input mdbInput type="email" id="form2" class="form-control form-control-sm" name="email" ngModel>
              <label for="form2" class="">Email</label>
              <mdb-error >
                <span>Error</span>
              </mdb-error>
            </div>

            <div class="md-form form-sm mt-3">
              <input mdbInput type="password" id="form6" class="form-control form-control-sm" name="password" ngModel>
              <label for="form6" class="">Password</label>
              <mdb-error>
                <span>Error</span>
              </mdb-error>
            </div>


            <button type="reset" class="float-left" mdbBtn color="warning" mdbWavesEffect>Reset</button>
            <button type="submit" class="float-right" mdbBtn color="primary" mdbWavesEffect>Sing In</button>

          </form>

        </div>

      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br><br>
