<br><br><br>
<section>
  <div class="rt-container mt-3">
    <div class="col-rt-12">
      <div class="Scriptcontent">
        <div class="container">

          <!-- START ACCORDION -->
          <h2 align="center" class="text-primary font-weight-bold">Frequently Ask Questions</h2>
          <div class="tabs mt-4">
            <div  class="tab" *ngFor="let faq of faqs$ | async|paginate: {
                                                      itemsPerPage: 10,
                                                      currentPage: p }; let i = index">
              <input type="checkbox" id="chck{{faq.id}}">
              <label class="tab-label" for="chck{{faq.id}}">{{faq.question}}</label>
              <div class="tab-content">
                {{faq.answer}}
              </div>
            </div>

          </div>

          <div class="mt-5">
            <pagination-controls
              maxSize="10"
              directionLinks="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
              (pageChange)="p = $event" align="center">
            </pagination-controls>
          </div>

        </div>
        <!--container-->
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br><br>

<br><br>
<br>
<br>
