<br><br><br>
<section>
  <div class="rt-container mt-3">
    <div class="col-rt-12">
      <div class="Scriptcontent">
        <div class="container">

          <!-- START ACCORDION -->
          <h2 align="center" class="text-primary font-weight-bold">Frequently Ask Questions</h2>
          <div class="tabs mt-4">
            <div  class="tab" >
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">Hello</label>
              <div class="tab-content">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A eaque modi nam neque obcaecati omnis quis sequi vero!
                Ad adipisci amet aperiam, dolorem eaque error et excepturi fugit non quod.
              </div>
            </div>

          </div>



        </div>
        <!--container-->
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br><br>

<br><br>
<br>
<br>
