<div class="home">
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="container">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <mdb-card>
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4 align="center" class="text-primary font-weight-bold">ABOUT US</h4>
        </mdb-card-title>
        <br>
        <br>
        <!--Text-->
        <mdb-card-text align="justify" style="line-height: 2.8" >
          Hub Tech is an online wholesales system between business to business.
          In Myanmar, most of the online shops are doing their sales process only in social medias for example,
          Facebook and they do not have their own website or the web application system.
          So, the sales process of online shops in Myanmar are not quite systematically and unique.
          Thus, our business servers as an agent between retailer and large business.
          As a result, the retailers no need to connect with the companies to buy wholesales products from companies.
          Moreover, the companies don’t need out of one’s way to find customers.
          They can make a bond via our company. This is the main vision of us.
          <br><br>
        </mdb-card-text>
      </mdb-card-body>
      <a  routerLink="/contact" mdbBtn color="primary" mdbWavesEffect>Contact Us</a>
    </mdb-card>

  </div>
  <div class="col-md-3"></div>
</div>

</div>

</div>
<br>  <br>
