<div class="home mt-5">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5" content="text">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Hub Tech Version 1<br>
            </h1>
            <a href="register"> Join Now</a>
          </div>

          <div class="col-md-6 content-img">
            <img src="/assets/images/mobile-img.png">
          </div>
        </div>
      </div>
    </div>
    <div class="wave"></div>
  </div>

